In [1]:
import pandas as pd
import numpy as np

In [29]:
dist_mat = pd.read_csv("../data/dist_matrix.csv")

dist_mat.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,20747,20748,20749,20750,20751,20752,20753,20754,20755,20756
0,0,0.000000,2.926346,32.108792,9676.611868,240.051012,240.058687,253.665161,139.795039,118.588364,...,2310.124300,2309.426022,2308.960437,2310.184694,2177.921452,2647.121383,2177.309158,1726.737896,2314.719617,2308.617148
1,1,2.926346,0.000000,34.366083,9673.829833,240.552921,240.569322,254.297445,136.882108,115.971529,...,2312.930906,2312.230948,2311.767246,2312.990149,2180.720029,2649.981806,2176.074817,1726.100163,2317.017650,2310.911252
2,2,32.108792,34.366083,0.000000,9706.149445,216.166732,216.106015,228.722436,163.533484,134.228065,...,2280.990872,2280.265217,2279.830372,2281.032464,2148.662052,2619.072555,2206.710232,1752.745285,2309.036108,2303.002818
3,3,9676.611868,9673.829833,9706.149445,0.000000,9787.992357,9788.639656,9804.473694,9548.424661,9591.827594,...,11985.798619,11985.230494,11984.618806,11985.949133,11854.149380,12309.295096,8216.813298,8812.137515,10955.000844,10947.577791
4,4,240.051012,240.552921,216.166732,9787.992357,0.000000,0.727555,17.690161,286.283913,235.123613,...,2215.003506,2213.854914,2213.900648,2214.752293,2081.348177,2567.411732,2409.500989,1966.479135,2438.844779,2433.199816

In [24]:
(dist_mat.loc[:, ["0"]].sort_values(by=["0"]))[:20]

             0
0     0.000000
1     2.926346
320  16.768443
322  17.247087
325  17.293145
321  17.362706
326  17.552134
324  17.657053
328  19.853242
79   23.156428
323  24.242615
78   25.197501
2    32.108792
76   32.273550
15   47.037821
14   47.303324
62   51.246266
77   53.213356
327  60.773629
365  74.015463