In [6]:
from tsl.datasets import AirQuality
from tsl.datasets import MetrLA

dataset = AirQuality()
ds2 = MetrLA()

print(dataset)
print(ds2)

AQI(length=8760, n_nodes=437, n_channels=1)
MetrLA(length=34272, n_nodes=207, n_channels=1)

In [7]:
dataset.index

DatetimeIndex(['2014-05-01 00:00:00', '2014-05-01 01:00:00',
               '2014-05-01 02:00:00', '2014-05-01 03:00:00',
               '2014-05-01 04:00:00', '2014-05-01 05:00:00',
               '2014-05-01 06:00:00', '2014-05-01 07:00:00',
               '2014-05-01 08:00:00', '2014-05-01 09:00:00',
               ...
               '2015-04-30 14:00:00', '2015-04-30 15:00:00',
               '2015-04-30 16:00:00', '2015-04-30 17:00:00',
               '2015-04-30 18:00:00', '2015-04-30 19:00:00',
               '2015-04-30 20:00:00', '2015-04-30 21:00:00',
               '2015-04-30 22:00:00', '2015-04-30 23:00:00'],
              dtype='datetime64[ns]', name='time', length=8760, freq='H')

In [14]:
from temporal_builder import TemporalDataBuilder

tb = TemporalDataBuilder()
data = tb.dataset

In [16]:
from airquality import AirQuality

aq = AirQuality()
aq.dataset

Found a valid build, loading...

nodes               1.0-73.0-23.0                                  \
channels                       CO NO2 PM10 PM25 PRE SO2 TEMP WIND
DateTime
2018-01-01 05:00:00           NaN NaN  NaN  NaN NaN NaN  NaN  NaN
2018-01-01 06:00:00           NaN NaN  NaN  NaN NaN NaN  NaN  NaN
2018-01-01 07:00:00           NaN NaN  NaN  NaN NaN NaN  NaN  NaN
2018-01-01 08:00:00           NaN NaN  NaN  NaN NaN NaN  NaN  NaN
2018-01-01 09:00:00           NaN NaN  NaN  NaN NaN NaN  NaN  NaN
...                           ...  ..  ...  ...  ..  ..  ...  ...
2021-01-01 03:00:00           NaN NaN  NaN  NaN NaN NaN  NaN  NaN
2021-01-01 04:00:00           NaN NaN  NaN  NaN NaN NaN  NaN  NaN
2021-01-01 05:00:00           NaN NaN  NaN  NaN NaN NaN  NaN  NaN
2021-01-01 06:00:00           NaN NaN  NaN  NaN NaN NaN  NaN  NaN
2021-01-01 07:00:00           NaN NaN  NaN  NaN NaN NaN  NaN  NaN

nodes               11.0-1.0-43.0        ... 56.0-21.0-100.0       \
channels                       CO   NO2  ...            TEMP WIND
DateTime                                 ...
2018-01-01 05:00:00         0.187  10.5  ...             NaN  NaN
2018-01-01 06:00:00         0.190  11.0  ...             NaN  NaN
2018-01-01 07:00:00         0.189  12.2  ...             6.0  3.9
2018-01-01 08:00:00         0.188  13.9  ...             6.0  2.7
2018-01-01 09:00:00         0.236  16.1  ...             7.0  2.9
...                           ...   ...  ...             ...  ...
2021-01-01 03:00:00         0.209   7.1  ...            30.0  7.6
2021-01-01 04:00:00         0.197   6.0  ...            29.0  8.2
2021-01-01 05:00:00           NaN   NaN  ...            29.0  9.3
2021-01-01 06:00:00           NaN   NaN  ...            29.0  8.4
2021-01-01 07:00:00           NaN   NaN  ...             NaN  NaN

nodes               9.0-9.0-27.0
channels                      CO   NO2  PM10 PM25     PRE  SO2  TEMP WIND
DateTime
2018-01-01 05:00:00        0.156   4.9   2.0  3.0  1027.0  0.3  12.0  8.7
2018-01-01 06:00:00          NaN   NaN   NaN  NaN     NaN  NaN   NaN  NaN
2018-01-01 07:00:00        0.151   5.3   1.0  3.0  1028.0  0.3  11.0  6.8
2018-01-01 08:00:00        0.155   4.0   0.0  1.0  1027.0  0.3  11.0  8.5
2018-01-01 09:00:00        0.160   4.7   1.0  0.0  1028.0  0.3  10.0  8.2
...                          ...   ...   ...  ...     ...  ...   ...  ...
2021-01-01 03:00:00        0.257  11.9  11.1  8.4  1030.0  0.2  38.0  2.7
2021-01-01 04:00:00        0.265  12.3  12.0  9.8  1031.0  0.2  37.0  2.7
2021-01-01 05:00:00          NaN   NaN   NaN  NaN     NaN  NaN   NaN  NaN
2021-01-01 06:00:00          NaN   NaN   NaN  NaN     NaN  NaN   NaN  NaN
2021-01-01 07:00:00          NaN   NaN   NaN  NaN     NaN  NaN   NaN  NaN

[26307 rows x 128 columns]

In [17]:
panino = aq.dataset

In [ ]:
nodes = ['1.0-73.0-23.0', '11.0-1.0-43.0']

In [9]:
import pandas as pd

In [10]:
test_ind = data.index.

In [12]:
test_ind = pd.DatetimeIndex(test_ind, freq='H')
test_ind

DatetimeIndex(['2018-01-01 05:00:00', '2018-01-01 06:00:00',
               '2018-01-01 07:00:00', '2018-01-01 08:00:00',
               '2018-01-01 09:00:00', '2018-01-01 10:00:00',
               '2018-01-01 11:00:00', '2018-01-01 12:00:00',
               '2018-01-01 13:00:00', '2018-01-01 14:00:00',
               ...
               '2020-12-31 22:00:00', '2020-12-31 23:00:00',
               '2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00'],
              dtype='datetime64[ns]', name='DateTime', length=26307, freq='H')

In [2]:
data.index

NameError: name 'data' is not defined

In [5]:
from airquality import AirQuality

aq = AirQuality()
print(aq)

Found a valid build, loading...
AQ(length=26307, n_nodes=16, n_channels=8)

In [8]:
import pandas as pd
from tqdm import tqdm

In [9]:
def obtain_id(df):

    for row in tqdm(range(df.shape[0])):
        sc = str(df.at[row, 'State Code'])
        cc = str(df.at[row, 'County Code'])
        sn = str(df.at[row, 'Site Num'])

        df.at[row, 'ID']=f'{sc}-{cc}-{sn}'

In [6]:
range(pizza.shape[0])

range(0, 972620)

In [5]:
pizza = pd.read_csv('..\data\\final.csv')
pizza

,Unnamed: 0,DateTime,State Code,County Code,Site Num,PM25,SO2,NO2,CO,PM10,WIND,TEMP,PRE
0,0,2018-03-29 12:00:00,1,73,23,8.5,0.5,5.4,0.232,17.0,6.0,64.4,993.4
1,1,2018-03-29 12:00:00,1,73,23,8.5,0.5,5.4,0.232,17.0,196.0,64.4,993.4
2,2,2018-03-29 16:00:00,1,73,23,7.2,0.7,3.3,0.199,27.0,9.8,72.7,991.9
3,3,2018-03-29 16:00:00,1,73,23,7.2,0.7,3.3,0.199,27.0,199.0,72.7,991.9
4,4,2018-03-29 17:00:00,1,73,23,6.3,1.0,4.9,0.229,27.0,7.9,72.5,991.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
972615,972615,2021-01-01 05:00:00,56,21,100,2.0,0.1,0.9,0.072,0.0,321.0,29.0,1083.1
972616,972616,2021-01-01 06:00:00,56,21,100,0.0,0.1,0.7,0.072,0.0,8.4,29.0,1083.1
972617,972617,2021-01-01 06:00:00,56,21,100,0.0,0.1,0.7,0.072,0.0,8.4,29.0,1083.1
972618,972618,2021-01-01 06:00:00,56,21,100,0.0,0.1,0.7,0.072,0.0,319.0,29.0,1083.1
972619,972619,2021-01-01 06:00:00,56,21,100,0.0,0.1,0.7,0.072,0.0,319.0,29.0,1083.1

In [7]:
pizza.insert(2, 'ID', value= None)
pizza

,Unnamed: 0,DateTime,ID,State Code,County Code,Site Num,PM25,SO2,NO2,CO,PM10,WIND,TEMP,PRE
0,0,2018-03-29 12:00:00,None,1,73,23,8.5,0.5,5.4,0.232,17.0,6.0,64.4,993.4
1,1,2018-03-29 12:00:00,None,1,73,23,8.5,0.5,5.4,0.232,17.0,196.0,64.4,993.4
2,2,2018-03-29 16:00:00,None,1,73,23,7.2,0.7,3.3,0.199,27.0,9.8,72.7,991.9
3,3,2018-03-29 16:00:00,None,1,73,23,7.2,0.7,3.3,0.199,27.0,199.0,72.7,991.9
4,4,2018-03-29 17:00:00,None,1,73,23,6.3,1.0,4.9,0.229,27.0,7.9,72.5,991.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
972615,972615,2021-01-01 05:00:00,None,56,21,100,2.0,0.1,0.9,0.072,0.0,321.0,29.0,1083.1
972616,972616,2021-01-01 06:00:00,None,56,21,100,0.0,0.1,0.7,0.072,0.0,8.4,29.0,1083.1
972617,972617,2021-01-01 06:00:00,None,56,21,100,0.0,0.1,0.7,0.072,0.0,8.4,29.0,1083.1
972618,972618,2021-01-01 06:00:00,None,56,21,100,0.0,0.1,0.7,0.072,0.0,319.0,29.0,1083.1
972619,972619,2021-01-01 06:00:00,None,56,21,100,0.0,0.1,0.7,0.072,0.0,319.0,29.0,1083.1

In [10]:
obtain_id(pizza)
pizza

100%|██████████| 972620/972620 [00:20<00:00, 47250.42it/s]

,Unnamed: 0,DateTime,ID,State Code,County Code,Site Num,PM25,SO2,NO2,CO,PM10,WIND,TEMP,PRE
0,0,2018-03-29 12:00:00,1-73-23,1,73,23,8.5,0.5,5.4,0.232,17.0,6.0,64.4,993.4
1,1,2018-03-29 12:00:00,1-73-23,1,73,23,8.5,0.5,5.4,0.232,17.0,196.0,64.4,993.4
2,2,2018-03-29 16:00:00,1-73-23,1,73,23,7.2,0.7,3.3,0.199,27.0,9.8,72.7,991.9
3,3,2018-03-29 16:00:00,1-73-23,1,73,23,7.2,0.7,3.3,0.199,27.0,199.0,72.7,991.9
4,4,2018-03-29 17:00:00,1-73-23,1,73,23,6.3,1.0,4.9,0.229,27.0,7.9,72.5,991.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
972615,972615,2021-01-01 05:00:00,56-21-100,56,21,100,2.0,0.1,0.9,0.072,0.0,321.0,29.0,1083.1
972616,972616,2021-01-01 06:00:00,56-21-100,56,21,100,0.0,0.1,0.7,0.072,0.0,8.4,29.0,1083.1
972617,972617,2021-01-01 06:00:00,56-21-100,56,21,100,0.0,0.1,0.7,0.072,0.0,8.4,29.0,1083.1
972618,972618,2021-01-01 06:00:00,56-21-100,56,21,100,0.0,0.1,0.7,0.072,0.0,319.0,29.0,1083.1
972619,972619,2021-01-01 06:00:00,56-21-100,56,21,100,0.0,0.1,0.7,0.072,0.0,319.0,29.0,1083.1

In [13]:
pizza[['State Code', 'County Code', 'Site Num']].value_counts()

State Code  County Code  Site Num
29          510          85          206442
9           9            27          119464
38          15           3            89728
35          1            23           88522
56          21           100          85160
11          1            43           56930
39          61           40           56874
13          89           2            44028
22          33           9            42926
37          119          41           40804
32          3            540          39106
18          97           78           37058
21          111          67           28926
1           73           23           23046
4           13           9997          8302
33          15           18            5304
dtype: int64